/* CSS Document */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|Roboto:100,300,400,500,700,900');
/*------------------------------------------*/
/*	     01 - General & Basic Styles
/*------------------------------------------*/
body {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 13px;
	line-height: 21px;
	font-weight: 300;
	color: #fff;
	-webkit-font-smoothing: subpixel-antialiased;
}
strong, b {
	font-weight: 600;
}
img {
	max-width: 100%;
	height: auto;
}
ul, ol {
	list-style: none;
}
ul {
	padding: 0;
	margin: 0;
}
a {
	transition: color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out;
	-o-transition: color 0.2s ease-in-out;
}
a:hover {
	color: #444;
}
a, a:hover {
	text-decoration: none;
}
i {
	font-size: 1.1em;
}
h1, h2, h3, h4, h5, h6 {
	/*font-family: 'Open Sans', sans-serif;*/
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
	margin: 0;
	color: #fff;
}
h1 {
	font-size: 24px;
	line-height: 30px;
}
h2 {
	font-size: 22px;
	line-height: 28px;
}
h3 {
	font-size: 22px;
	line-height: 24px;
}
h4 {
	font-size: 16px;
	line-height: 22px;
}
h5 {
	font-size: 14px;
	line-height: 20px;
}
h6 {
	font-size: 12px;
	line-height: 18px;
}
p {
	color: #666;
	font-size: 13px;
	font-family: 'Roboto', sans-serif;
	line-height: 22px;
	margin: 0;
}
p strong {
	font-weight: 600;
}
.accent-color-bg {
	color: #fff;
}
.fittext {
	font-size: 38px;
	font-weight: 300;
	line-height: 1.6em;
	margin-bottom: 35px;
	color: rgba(0, 0, 0, 0.8);
}
.fittext strong {
	font-weight: 700;
}
.page-content p {
	margin-bottom: 15px;
}
.white-text {
	color: #fff;
}
.uppercase {
	text-transform: uppercase;
}
.image-text {
	margin-right: 10px;
}
a.main-button, input[type="submit"] {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	padding: 6px 16px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}
a.main-button:hover, input[type="submit"]:hover {
	background: #444;
	color: #fff;
}
a.main-button i {
	font-size: 1.2em;
}
input[type="submit"] {
	border: none;
}
.tooltip .tooltip-inner {
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
}
#content {
	/*padding: 60px 0;*/
	padding: 30px 0;
}
#content.full-sections {
	padding: 0;
}
.section {
	position: relative;
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover !important;
}
.section.repeat-bg {
	background-repeat: repeat;
	background-size: auto !important;
}
.bg-parallax {
	background-attachment: fixed;
}
.section-video {
	position: absolute;
	z-index: 33;
	left: 0;
	top: -100px;
	width: 100% !important;
	max-width: 100% !important;
	height: auto !important;
}
.section-video object {
	display: block;
	width: 100% !important;
	height: auto !important;
}
.section-video img {
	display: block;
	width: 100% !important;
	height: auto !important;
}
.section-video-content {
	z-index: 35;
	position: relative;
	opacity: 0.98;
}
.section-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 34;
	opacity: 0.7;
}
.light-section {
	color: #fff;
}
.light-section .testimonials {
	color: #666;
}
.light-section .testimonials .testimonial-content p {
	color: #c4c4c4;
}
.boxed-page {
	position: relative;
	width: 1220px;
	margin: 0 auto;
	background-color: #fff;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	-o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.boxed-page header {
	width: 1220px;
}
#loader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #F9F9F9;
	z-index: 9999999999;
}
.spinner {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 50%;
	left: 50%;
	margin-left: -40px;
	margin-top: -40px;
	-webkit-animation: rotatee 2.0s infinite linear;
	animation: rotatee 2.0s infinite linear;
}
.dot1, .dot2 {
	width: 60%;
	height: 60%;
	display: inline-block;
	position: absolute;
	top: 0;
	border-radius: 100%;
	-webkit-animation: bouncee 2.0s infinite ease-in-out;
	animation: bouncee 2.0s infinite ease-in-out;
}
.dot2 {
	top: auto;
	bottom: 0px;
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}
@-webkit-keyframes rotatee {
	100% {
		-webkit-transform: rotate(360deg)
	}
}
@keyframes rotatee {
	100% {
		transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
	}
}
@-webkit-keyframes bouncee {
	0%, 100% {
		-webkit-transform: scale(0.0)
	}
	50% {
		-webkit-transform: scale(1.0)
	}
}
@keyframes bouncee {
	0%, 100% {
		transform: scale(0.0);
		-webkit-transform: scale(0.0);
	}
	50% {
		transform: scale(1.0);
		-webkit-transform: scale(1.0);
	}
}
/*------------------------------------------*/
/*	     02 - Header & Navigation
/*------------------------------------------*/
header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999999;
	transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
}
.fixed-header {
	opacity: 0.95;
	box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.2);
	-o-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.2);
}
.top-bar {
	background-color: #fff;
	border-bottom: 1px solid #f2f2f2;
	/*border-top: 2px solid #ee3733;*/
}
/*------------------------------------------*/
/*	     05 - Shortcodes Elements
/*------------------------------------------*/
/*************** Dividers ***************/
.text-center {
	text-align: center;
}
.margin-60 {
	margin-top: 30px;
	margin-bottom: 30px;
}
.margin-top {
	margin-top: 30px;
}
.margin-top-8 {
	margin-top: 8px;
}
.margin-bottom-0 {
	margin-bottom: 0px;
}
.margin-lr-15 {
	margin-left: 15px;
	margin-right: 15px;
}
.hr1 {
	height: 1px;
}
.hr2 {
	height: 0;
	border-bottom: 1px solid #eee;
}
.hr3 {
	height: 0;
	border-bottom: 1px dotted #eee;
}
.hr4 {
	height: 0;
	border-bottom: 1px dashed #eee;
}
.hr5 {
	height: 1px;
	background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
}
/*************** Buttons ***************/
.btn {
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}
.btn-system {
	display: inline-block;
	color: #fff;
	margin-right: 5px;
	font-weight: 300;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1) inset;
	-o-box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1) inset;
	-webkit-box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1) inset;
	border: 0;
	text-transform: uppercase;
	font-weight: 400;
}
.btn-system:last-child {
	margin-right: 0;
}
.btn-system {
	font-size: 1em;
	width: auto;
}
.btn-system.border-btn {
	background-color: transparent;
	border: 1px solid;
	box-shadow: none;
	-o-box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}
.btn-system:hover {
	color: #fff;
	opacity: 0.8;
}
.btn-system.border-btn:hover {
	opacity: 1;
	color: #fff;
}
.btn-system.border-btn.btn-gray:hover {
	background-color: #444;
	color: #fff;
}
.btn-system.border-btn.btn-black:hover {
	background-color: #111;
	color: #fff;
}
.btn-system.border-btn.btn-wite:hover {
	background-color: #fff;
}
.btn-system.btn-gray {
	background-color: #444;
}
.btn-system.btn-black {
	background-color: #111;
}
.btn-system.btn-wite {
	background-color: #fff;
}
.btn-system.border-btn.btn-gray {
	background-color: transparent;
	border: 1px solid #444;
	color: #444;
}
.btn-system.border-btn.btn-black {
	background-color: transparent;
	border: 1px solid #111;
	color: #111;
}
.btn-system.border-btn.btn-wite {
	background-color: transparent;
	border: 1px solid #fff;
	color: #fff;
}
.btn-large {
	font-size: 14px;
	padding: 9px 22px;
}
.btn-medium {
	font-size: 14px;
	padding: 7px 18px;
}
.btn-small {
	padding: 5px 15px;
}
.btn-mini {
	padding: 3px 12px;
}
.btn-large.border-btn {
	padding: 8px 22px;
}
.btn-medium.border-btn {
	padding: 6px 18px;
}
.btn-small.border-btn {
	padding: 4px 15px;
}
.btn-mini.border-btn {
	padding: 2px 12px;
}
.btn-danger {
	background-color: rgba(239, 54, 51, 1)
}
.btn-buy {
	margin-top: 10px;
	display: block;
	text-align: center;
}
/*************** Alerts ***************/
.alert-success p {
	color: #468847;
}
.alert-info p {
	color: #3a87ad;
}
.alert-warning p {
	color: #c09853;
}
.alert-danger p {
	color: #a94442;
}
.alert h4 {
	margin-bottom: 10px;
}
.alert strong {
	font-weight: 700;
}
/*************** Icons ***************/
.section {
	padding-top: 30px;
	padding-bottom: 30px;
}
/*************** Team Members ***************/
.item-store {
	padding: 5px;
	/*margin-bottom: 20px;*/
	margin-top: 5px;
	position: relative;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.item-store a {
	cursor: pointer;
}
.item-store .item-image {
	-webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	position: relative;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	background-color: transparent;
}
.item-store .item-image img {
	width: 100%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
.item-store .item-image img.with-title {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}
.item-store .item-image.category img {
	width: 100%;
	border-radius: 5px;
}
.item-store .item-image .item-name {
	/*position: absolute;*/
	bottom: 12px;
	right: 10px;
	color: #fff;
	font-size: 16px;
	font-weight: 300;
	padding: 10px 13px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	/*background-color: #35474F;*/
	background-color: rgba(255, 255, 255, .15);
	;
	z-index: 9994;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	letter-spacing: 0.3px;
}
.hotel-channel .item-store .item-image .item-name, .hotel-info .item-store .item-image .item-name {
	background-color: rgba(255, 255, 255, .2);
	font-weight: 400;
}
.item-store:hover .item-image .item-name {
	/* background-color: #ee3733; */
}
.item-store .item-image .item-name span, .item-store .item-image .item-name div {
	/*position: absolute;*/
	/*top: 90%;*/
	/*right: 0;*/
	color: rgba(255, 255, 255, 0.75);
	font-size: 14px;
	font-weight: 300;
	white-space: normal;
	line-height: 16px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
}
.item-store .item-info {
	padding: 15px 6px 12px 6px;
}
.item-store .item-social a i {
	color: #fff;
	width: 28px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	display: inline-block;
	background-color: #d2d2d2;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}
.item-store .item-social a.facebook:hover i {
	background-color: #507CBE;
}
.item-store .item-social a.twitter:hover i {
	background-color: #63CDF1;
}
.item-store .item-social a.gplus:hover i {
	background-color: #F16261;
}
.item-store .item-social a.dribbble:hover i {
	background-color: #E46387;
}
.item-store .item-social a.linkedin:hover i {
	background-color: #90CADD;
}
.item-store .item-social a.flickr:hover i {
	background-color: #E474AF;
}
.item-store .item-social a.instagramm:hover i {
	background-color: #4D4F54;
}
.item-store.modern .item-info {
	padding: 14px 0;
}
.item-store.modern .item-image {
	position: relative;
	padding: 0px;
	border: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
}
.item-store.modern .item-image:after {
	content: "";
	display: block;
	width: 100%;
	height: calc(100% + 1px);
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9993;
	transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-webkit-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
}
.item-store.modern:hover .item-image:after {
	opacity: 0.5;
	width: 100%;
	height: 100%;
}
.item-store.modern .progress {
	height: 3px;
	border-width: 2px;
	margin-bottom: 6px;
}
.item-store.modern .progress-label {
	font-size: 12px;
	line-height: 2em;
	font-weight: 700;
}
.item-store.modern .progress span {
	display: none;
}
.item-store.modern .item-social {
	margin-top: 15px;
}
.item-store.modern .item-social a i {
	background-color: transparent;
	color: #666;
}
.item-store.modern .item-social a:hover i {
	color: #fff;
}
/*************** Heading Titles ***************/
.classic-title {
	margin-bottom: 16px;
	padding-bottom: 8px;
	border-bottom: 1px solid #eee;
	font-weight: 300;
}
.classic-title span {
	padding-bottom: 8px;
	border-bottom: 1px solid;
	font-weight: 400;
}
.classic-title span.more {
	padding-bottom: 8px;
	border-bottom: none;
	font-weight: 300;
	font-size: 14px;
	/*padding-right: 10px;*/
}
.big-title {
	margin-bottom: 20px;
}
.big-title h1, .big-title h2 {
	font-size: 26px;
	line-height: 32px;
	font-weight: 300;
}
.big-title h1 strong, .big-title h2 strong {
	font-weight: 400;
}
.big-title .title-desc {
	font-size: 16px;
	line-height: 22px;
	color: #666;
}
.big-title h2+.title-desc, .big-title h1+.title-desc {
	margin-top: 4px;
}
/*Pagination*/
#pagination span, #pagination a {
	display: inline-block;
	text-align: center;
	height: 34px;
	width: 34px;
	color: #666;
	line-height: 33px;
	border: 1px solid #eee;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}
#pagination span.current {
	color: #fff;
}
#pagination a:hover {
	border-color: #ddd;
}
#pagination .all-pages, #pagination .next-page {
	width: auto;
	padding: 0 14px;
}
.back-to-top {
	display: none;
	position: fixed;
	bottom: 18px;
	right: 15px;
}
.back-to-top i {
	display: block;
	width: 36px;
	height: 36px;
	line-height: 36px;
	color: #fff;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	text-align: center;
	background-color: #444;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}
/* 
 * 	Core Owl Carousel CSS
 *	v1.24
 */
/* clearfix */
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.owl-carousel {
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
	    touch-action: pan-y;
}
.owl-carousel .owl-wrapper {
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
	        transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer {
	/*overflow: hidden;*/
	position: relative;
	width: 100%;
	padding-top: 12px;
}
.owl-carousel .owl-wrapper-outer.autoHeight {
	-webkit-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
.owl-carousel .owl-item {
	float: left;
}
.owl-controls .owl-page, .owl-controls .owl-buttons div {
	cursor: pointer;
}
.owl-controls {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* mouse grab icon */
.grabbing {
	cursor: url(../images/icons/grabbing.png) 8 8, move;
}
/* fix */
.owl-carousel .owl-wrapper, .owl-carousel .owl-item {
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	        transform: translate3d(0, 0, 0);
}
/* CSS3 Transitions */
.owl-origin {
	-webkit-perspective: 1200px;
	-webkit-perspective-origin-x: 50%;
	-webkit-perspective-origin-y: 50%;
	-moz-perspective: 1200px;
	-moz-perspective-origin-x: 50%;
	-moz-perspective-origin-y: 50%;
	perspective: 1200px;
}
/* fade */
.owl-fade-out {
	z-index: 10;
	-webkit-animation: fadeOut .7s both ease;
	animation: fadeOut .7s both ease;
}
.owl-fade-in {
	-webkit-animation: fadeIn .7s both ease;
	animation: fadeIn .7s both ease;
}
/* backSlide */
.owl-backSlide-out {
	-webkit-animation: backSlideOut 1s both ease;
	animation: backSlideOut 1s both ease;
}
.owl-backSlide-in {
	-webkit-animation: backSlideIn 1s both ease;
	animation: backSlideIn 1s both ease;
}
/* goDown */
.owl-goDown-out {
	-webkit-animation: scaleToFade .7s ease both;
	animation: scaleToFade .7s ease both;
}
.owl-goDown-in {
	-webkit-animation: goDown .6s ease both;
	animation: goDown .6s ease both;
}
/* scaleUp */
.owl-fadeUp-in {
	-webkit-animation: scaleUpFrom .5s ease both;
	animation: scaleUpFrom .5s ease both;
}
.owl-fadeUp-out {
	-webkit-animation: scaleUpTo .5s ease both;
	animation: scaleUpTo .5s ease both;
}
/* Keyframes */
/*empty*/
@-webkit-keyframes empty {
	0% {
		opacity: 1
	}
}
@keyframes empty {
	0% {
		opacity: 1
	}
}
@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-webkit-keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@-webkit-keyframes backSlideOut {
	25% {
		opacity: .5;
		-webkit-transform: translateZ(-500px);
	}
	75% {
		opacity: .5;
		-webkit-transform: translateZ(-500px) translateX(-200%);
	}
	100% {
		opacity: .5;
		-webkit-transform: translateZ(-500px) translateX(-200%);
	}
}
@keyframes backSlideOut {
	25% {
		opacity: .5;
		-webkit-transform: translateZ(-500px);
		        transform: translateZ(-500px);
	}
	75% {
		opacity: .5;
		-webkit-transform: translateZ(-500px) translateX(-200%);
		        transform: translateZ(-500px) translateX(-200%);
	}
	100% {
		opacity: .5;
		-webkit-transform: translateZ(-500px) translateX(-200%);
		        transform: translateZ(-500px) translateX(-200%);
	}
}
@-webkit-keyframes backSlideIn {
	0%, 25% {
		opacity: .5;
		-webkit-transform: translateZ(-500px) translateX(200%);
	}
	75% {
		opacity: .5;
		-webkit-transform: translateZ(-500px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateZ(0) translateX(0);
	}
}
@keyframes backSlideIn {
	0%, 25% {
		opacity: .5;
		-webkit-transform: translateZ(-500px) translateX(200%);
		        transform: translateZ(-500px) translateX(200%);
	}
	75% {
		opacity: .5;
		-webkit-transform: translateZ(-500px);
		        transform: translateZ(-500px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateZ(0) translateX(0);
		        transform: translateZ(0) translateX(0);
	}
}
@-webkit-keyframes scaleToFade {
	to {
		opacity: 0;
		-webkit-transform: scale(.8);
	}
}
@keyframes scaleToFade {
	to {
		opacity: 0;
		-webkit-transform: scale(.8);
		        transform: scale(.8);
	}
}
@-webkit-keyframes goDown {
	from {
		-webkit-transform: translateY(-100%);
	}
}
@keyframes goDown {
	from {
		-webkit-transform: translateY(-100%);
		        transform: translateY(-100%);
	}
}
@-webkit-keyframes scaleUpFrom {
	from {
		opacity: 0;
		-webkit-transform: scale(1.5);
	}
}
@keyframes scaleUpFrom {
	from {
		opacity: 0;
		-webkit-transform: scale(1.5);
		        transform: scale(1.5);
	}
}
@-webkit-keyframes scaleUpTo {
	to {
		opacity: 0;
		-webkit-transform: scale(1.5);
	}
}
@keyframes scaleUpTo {
	to {
		opacity: 0;
		-webkit-transform: scale(1.5);
		        transform: scale(1.5);
	}
}
/*
* 	Owl Carousel Owl Theme 
*/
.owl-theme .owl-controls {
	text-align: center;
}
.owl-theme .owl-controls .owl-buttons {
	position: absolute;
	right: 0;
	bottom: 0;
}
.owl-theme .owl-controls .owl-buttons .owl-prev, .owl-theme .owl-controls .owl-buttons .owl-next {
	display: inline-block;
}
/* Styling Next and Prev buttons */
.touch-slider .owl-controls .owl-buttons div {
	position: absolute;
	top: 50%;
	height: 60px;
	line-height: 60px;
	display: inline-block;
	zoom: 1;
	padding: 0 1px;
	*display: inline;
	/*IE7 life-saver */
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	background: #444;
	filter: Alpha(Opacity=60);
	/*IE7 fix*/
	opacity: 0.6;
	margin-top: -30px;
	transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
}
.touch-slider:hover .owl-controls .owl-buttons div {
	filter: Alpha(Opacity=100);
	/*IE7 fix*/
	opacity: 1;
}
.touch-slider .owl-controls .owl-buttons div.owl-prev {
	left: 0;
	border-radius: 0 3px 3px 0;
	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	-o-border-radius: 0 3px 3px 0;
}
.touch-slider .owl-controls .owl-buttons div.owl-next {
	right: 0;
	border-radius: 3px 0 0 3px;
	-webkit-border-radius: 3px 0 0 3px;
	-moz-border-radius: 3px 0 0 3px;
	-o-border-radius: 3px 0 0 3px;
}
.touch-slider .owl-controls .owl-buttons div i {
	font-size: 1.8em;
	color: #fff;
}
.touch-carousel .owl-controls .owl-buttons {
	position: absolute;
	top: -50px;
	right: 25px;
}
.touch-carousel.projects-carousel .owl-controls .owl-buttons {
	right: 12px;
}
.touch-carousel.navigation-2 .owl-controls .owl-buttons {
	position: relative;
	top: 0;
	right: 0;
}
.touch-carousel.navigation-2.clients-carousel .owl-controls .owl-buttons {
	top: -8px;
}
.touch-carousel.navigation-2 .owl-controls .owl-buttons div, .touch-carousel.navigation-3 .owl-controls .owl-buttons div {
	background-color: #f2f2f2;
}
.touch-carousel.navigation-2 .owl-controls .owl-buttons div i, .touch-carousel.navigation-3 .owl-controls .owl-buttons div i {
	color: #666;
}
.touch-carousel.navigation-3 {
	padding-top: 45px;
}
.touch-carousel.navigation-3.clients-carousel {
	padding-top: 25px;
}
.touch-carousel.navigation-3 .owl-controls .owl-buttons {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
}
.touch-carousel.navigation-2 .owl-controls .owl-buttons div, .touch-carousel.navigation-3 .owl-controls .owl-buttons div {
	width: 28px;
	height: 28px;
	line-height: 28px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
}
.touch-carousel.navigation-3.projects-carousel .owl-controls .owl-buttons {
	right: 9px;
}
.touch-carousel .owl-controls .owl-buttons div, .testimonials-carousel .owl-controls .owl-buttons div {
	height: 22px;
	width: 22px;
	line-height: 22px;
	display: inline-block;
	zoom: 1;
	*display: inline;
	/*IE7 life-saver */
	border-radius: 2px;
	background-color: #fff;
	margin-left: 4px;
	transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	border: 1px solid #ccc;
}
.touch-carousel .owl-controls .owl-buttons div i, .testimonials-carousel .owl-controls .owl-buttons div i {
	font-size: 1.2em;
	color: #ccc;
	transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
}
.testimonials-carousel .owl-controls .owl-buttons div i {
	color: #fff;
}
.touch-carousel .owl-controls.clickable .owl-buttons div:hover i {
	color: #fff;
}
.testimonials-carousel .owl-controls.clickable .owl-buttons div:hover {
	background-color: #fff;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	        box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
}
/* Styling Pagination*/
.owl-pagination {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 5px;
}
.owl-theme .owl-controls .owl-page {
	display: inline-block;
	zoom: 1;
	*display: inline;
	/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span {
	display: block;
	width: 16px;
	height: 16px;
	margin: 2px 4px;
	filter: Alpha(Opacity=50);
	/*IE7 fix*/
	opacity: 0.5;
	border-radius: 50%;
	border: 3px solid #444;
	transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
}
.touch-slider:hover .owl-controls .owl-page span {
	filter: Alpha(Opacity=100);
	/*IE7 fix*/
	opacity: 1;
}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
	border-color: #0A95D8;
}
/* If PaginationNumbers is true */
.owl-theme .owl-controls .owl-page span.owl-numbers {
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	border-radius: 30px;
}
#bar {
	width: 0%;
	max-width: 100%;
	height: 4px;
	background: #444;
	filter: Alpha(Opacity=50);
	/*IE7 fix*/
	opacity: 0.5;
}
#progressBar {
	position: absolute;
	top: 0;
	z-index: 99;
	width: 100%;
}
/* preloading images */
.owl-item.loading {
	min-height: 150px;
	background: url(../images/icons/ajaxloader.gif) no-repeat center center
}
.iframe {
	border: none;
}
.raleway {
	font-family: 'Raleway', sans-serif;
}
select.payment-select {
	height: 34px;
	padding: 6px 12px;
}
input:disabled, select:disabled {
	opacity: .4;
}
input:-moz-read-only {
	opacity: .6;
}
input:read-only {
	opacity: .6;
}
.item-store .item-image:hover {
	-webkit-transform: scale(1.05);
	        transform: scale(1.05);
	-webkit-box-shadow: 0 6px 24px rgba(0, 0, 0, 0.30);
	box-shadow: 0 6px 24px rgba(0, 0, 0, 0.30);
}
.item-store .item-image.slide:hover {
	-webkit-transform: scale(1);
	        transform: scale(1);
}
.blur {
	/* All the background image supports */
	-webkit-transform: translate(0px, 0px, 0px);
	        transform: translate(0px, 0px, 0px);
	background-image: -webkit-gradient(linear, left bottom, right top, from(rgba(43, 40, 50, 0.8)), color-stop(45%, rgba(83, 86, 99, 0.8)), color-stop(60%, rgba(69, 77, 91, 0.6)));
	background-image: linear-gradient(to top right, rgba(43, 40, 50, 0.8) 0%, rgba(83, 86, 99, 0.8) 45%, rgba(69, 77, 91, 0.6) 60%);
	position: absolute;
	/*width: 100%;*/
	height: 100%;
	/* blur filters */
	-webkit-filter: blur(20px);
	-o-filter: blur(20px);
	filter: blur(20px);
	/* positioning and removing edges */
	top: -70px;
	right: -70px;
	left: -70px;
	padding: 70px;
}
.blur:after {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 1001;
	/* Setting the gradient. Adds depth, and glass like effect. */
	background-image: linear-gradient(-19deg, rgba(43, 40, 50, 0.8) 0%, rgba(43, 40, 50, 0.4) 46%, rgba(0, 0, 0, 0.05) 50%);
	/* Blur to add depth. High to create smooth transition */
	-webkit-filter: blur(70px);
	-o-filter: blur(70px);
	filter: blur(70px);
}
main {
	width: 100vw;
	height: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: #eeeff4;
	z-index: 999999999999;
}
@-webkit-keyframes blink {
	0% {
		opacity: 0.1;
	}
	30% {
		opacity: 1;
	}
	100% {
		opacity: 0.1;
	}
}
@keyframes blink {
	0% {
		opacity: 0.1;
	}
	30% {
		opacity: 1;
	}
	100% {
		opacity: 0.1;
	}
}
.title-category {
	position: absolute;
	bottom: 11px;
	right: 17px;
	color: #fff;
	font-size: 18px;
	font-weight: 400;
	text-align: right;
	z-index: 9995;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	letter-spacing: 0.3px;
}
.dpad-focusable:focus .sidebar-title {
	font-size: 26px;
	color: #fff;
	outline: 0;
	/*border: 2px solid red;*/
}
.dpad-focusable:focus .item-store a .item-image {
	-webkit-transform: scale(1.08);
	transform: scale(1.08);
	-webkit-box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
	box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
	outline: 0;
	/*border: 2px solid red;*/
}
.dpad-focusable:focus {
	outline: 0;
}
.dpad-focusable {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.slider {
	width: 100%;
	/*margin: 100px auto;*/
}
.slick-slide {
	margin: 0px 10px;
}
.slick-slide img {
	width: 100%;
	border-radius: 4px;
}
.slick-prev:before, .slick-next:before {
	color: black;
}
.vertical-center {
	height: 100%;
	width: 100%;
	text-align: center;
	/* align the inline(-block) elements horizontally */
	/* remove the gap between inline(-block) elements */
}
.vertical-center:before {
	/* create a full-height inline block pseudo=element */
	/*content: " ";*/
	display: inline-block;
	vertical-align: middle;
	/* vertical alignment of the inline element */
	height: 100%;
}
.vertical-center>.container {
	max-width: 100%;
	display: inline-block;
	vertical-align: middle;
	/* vertical alignment of the inline element */
	/* reset the font property */
	font: 16px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.fill {
	min-height: 100%;
	height: 100%;
}
.align-items-center {
	-webkit-box-align: center!important;
	-ms-flex-align: center!important;
	align-items: center!important;
}
.h-full {
	height: 100%;
}
.hotel .h-fullscreen {
	height: calc(100vh - 165px - 150px);
}
.hotel-channel .h-fullscreen {
	height: calc(100vh - 150px);
}
.hotel-info .h-fullscreen {
	height: calc(100vh - 150px);
}
.h-fullscreen {
	height: calc(100vh - 165px - 150px);
}
.row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}
.topbar {
	/*position: absolute;*/
	top: 0;
	left: 0;
	right: 0;
	background-color: transparent;
	height: 90px;
	border-radius: 0;
	z-index: 910;
	-webkit-transition: margin-left .5s;
	transition: margin-left .5s;
}
.sidebar-title {
	font-size: 20px;
	margin: 15px 0;
	font-weight: 300;
	color: rgba(255, 255, 255, .6);
	text-align: right;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}
.sidebar-title.active {
	font-size: 26px;
	font-weight: 400;
	color: #fff;
}
.container-fluid {
	padding-right: 80px;
	padding-left: 80px;
	margin-right: auto;
	margin-left: auto;
}
.btn-group>.btn, .btn-group-vertical>.btn {
	position: relative;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 16px;
	line-height: 1.8;
	float: left;
	background-color: rgba(0, 0, 0, .1);
	width: 120px;
	margin-left: 0 !important;
}
.btn-group>.btn.active {
	color: #000;
	background-color: #E3E3E3;
	border: 1px solid (255, 255, 255, .5);
	-webkit-box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
	box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
}
.overlay, .overlay-red, .overlay-black {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 1;
	-webkit-transition: .5s ease;
	transition: .5s ease;
	border-radius: 5px;
}
.overlay {
	background-color: rgba(0, 0, 0, .5);
}
.overlay-red {
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.50)), to(#E74C3C));
	background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0.50) 0%, #E74C3C 100%);
}
.overlay-black {
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.15)), to(rgba(0, 0, 0, 0.90)));
	background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.90) 100%);
}
/*.item .dpad-focusable:hover .image {
  opacity: 0.3;
}
.item .dpad-focusable:hover .overlay {
  opacity: 1;
}*/
.dpad-focusable:hover .item-store a .item-image .overlay-red, .dpad-focusable:hover .item-store a .item-image .overlay-black, {
	opacity: 1;
}
.item-store .item-image .item-text {
	position: absolute;
	bottom: 20px;
	left: 20px;
	color: #fff;
	font-size: 26px;
	line-height: 30px;
	font-weight: 400;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	letter-spacing: 0.3px;
}
.item-store .item-image .item-text div {
	font-size: 18px;
	font-weight: 300;
}
#mytimeline .item-text {
	/*height: 50px;*/
	color: #fff;
	font-size: 22px;
	line-height: 27px;
	font-weight: 400;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	letter-spacing: 0.3px;
}
#mytimeline .item-text div {
	font-size: 16px;
	font-weight: 300;
	line-height: normal;
}
.jumbotron .item-text {
	height: auto;
	color: #fff;
	font-size: 22px;
	line-height: 30px;
	font-weight: 400;
	overflow: hidden;
	white-space: normal;
	text-overflow: normal;
	letter-spacing: 0.3px;
}
.jumbotron .item-text div {
	font-size: 16px;
	font-weight: 300;
	line-height: normal;
}
#bg {
	position: fixed;
	top: 0;
	left: 0;
}
.bgwidth {
	width: 100%;
}
.bgheight {
	height: 100%;
}
.page-content {
	margin-bottom: 30px;
}
a:focus, button:focus, .btn:focus {
	outline: 0;
}
ul {
	list-style: disc;
	padding-left: 20px;
}
ol {
	padding-left: 15px;
	margin-bottom: 0;
	list-style: decimal;
}
.slider {
	width: 100%;
	/*margin: 100px auto;*/
}
.slick-slide {
	margin: 0px 10px;
}
.slick-slide img {
	width: 100%;
	border-radius: 4px;
}
.slick-prev:before, .slick-next:before {
	color: black;
}

.weather-widget,
.weather-widget-xl {
	position: relative;
	padding: 20px;
	margin-bottom: 10px;
	/* margin-right: 35px; */
	height: 87px;
	background-color: #53B9CE;
	-webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}
.weather-widget {
	margin-top: 50px;
}
.weather-widget-xl {
	margin-top: 0px;
}
.weather-widget img, .weather-widget canvas,
.weather-widget-xl img, .weather-widget-xl canvas {
	position: absolute;
	width: 110px;
	right: 20px;
	top: -55px;
}
.weather-widget .temp,
.weather-widget-xl .temp {
	position: absolute;
	font-size: 60px;
	right: 15px;
	top: 36px;
}
.weather-widget .city,
.weather-widget-xl .city {
	font-size: 26px;
	font-weight: 400;
	margin-bottom: 8px;
}
.weather-widget .date,
.weather-widget-xl .date {
	font-size: 20px;
	font-weight: 300;
}
.ads {
	position: relative;
	/* margin-right: 35px; */
	-webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
}
.ads img {
	widows: 100%;
	border-radius: 5px;
}
.borderless td, .borderless th {
	border: none;
	border-top: none !important;
	/* border-bottom: 1px solid rgba(255,255,255,.1) !important; */
	padding: 15px !important;
	vertical-align: middle !important;
}
.borderless tr {
	border-bottom: 1px solid rgba(255,255,255,.1);
}
.borderless tr:last-child {
	border-bottom: 0px;
}
.row.add-margin-lr {
	margin-left: 20px;
	margin-right: 20px;
}