<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<video id="main-video" autoplay muted></video>
<div id="remote-vid-container" class="container-fluid fixed-bottom">
    {{!-- <div class="row">
        <div class="col-12">
            <button class="btn btn-lg btn-primary" id="create-peer-btn">Create New</button>
        </div>
    </div> --}}
</div>
<script>
    window.clientName = '{{clientId}}';
    window.room = '{{room}}';
</script>