<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div id="remote-vid-container" class="container-fluid">
    <div class="row">
        <div class="col-12">
            <button class="btn btn-lg btn-primary" id="create-peer-btn">Create New</button>
        </div>
    </div>
</div>
<div id="local-vid-container" class="container-fluid">

</div>